body {
    background-image: url('https://media.wired.com/photos/593240ca58b0d64bb35d07ce/4:3/w_660,c_limit/hexwave.gif');
    background-repeat: no-repeat;
    background-size: cover;
}
#card {
    background-color: #ffffffe6;
}